/* =============== header-styles =============== */

header {
  padding: 16px 0;
  background-color: #D9D9D9;
}

.profile-photo {
  width: 64px;
  height: 64px;
  background-color: #B5B5B5;
  border-radius: 100%;
}