/* =============== header-styles =============== */

header {
  padding: 16px 0;
  background-color: var(--main-color);
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 35px;
}
