.profile-header {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 30px 18px;

    &__self {
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        color: var(--main-color);
    }

    &__self h3 {
        font-size: var(--font-big);
    }

    &__self span {
        font-size: var(--font-medium);
    } 

    &__edit-btn {
        display: flex;
        align-self: flex-end;
        margin-left: auto;
        background-color: inherit;
        color: var(--main-color);
        font-size: var(--text-fs-big);
    }

    &__edit-btn:hover {
        text-decoration: underline;
    }
}

.profile-products {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px 25px;
    border-radius: 18px;
    background-color: var(--lite-bg-color);

    &__header {
        position: relative;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        gap: 10px;
        padding: 0px 30px;
    }

    &__header h2 {
        color: var(--main-color);
        font-size: 36px;
        font-weight: 500;
    }

    &__header button {
        position: absolute;
        right: 0;
    }
}