.product-window {
    width: 1230px;
    min-width: 350px;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;

    &__info {
        display: flex;
        gap: 30px;
    }

    &__owner {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__owner .product-photo {
        width: 380px;
        height: 260px;
        background-color: var(--main-color);
        border-radius: 20px;
    }

    &__owner-info {
        display: flex;
        gap: 8px;
    }

    &__owner-name {
        display: flex;
        flex-direction: column;
    }

    &__owner-photo {
        width: 50px;
        height: 50px;
        border-radius: 100%;
        background-color: var(--additional-color);
    }

    &__rent {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__rent-info {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__rent-info input {
        outline: none;
        padding: 10px 20px;
        border-radius: 20px;
        font-size: 18px;
        background-color: var(--main-bg-color);
    }

    &__product-info {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__price {
        display: flex;
        gap: 16px;
        align-items: center;
    }

    &__price span {
        font-size: 26px;
    }

    &__product-name {
        font-size: var(--font-big);
    }

    &__owner-name span,
    button {
        font-size: var(--font-medium);
    }

    &__product-category {
        width: max-content;
        padding: 8px 15px;
        border-radius: 15px;
        font-size: var(--text-fs-big);
        background-color: var(--accent-color);
    }

    &__product-descr {
        font-size: var(--text-fs-big);
    }

    button {
        border-radius: 20px;
        padding: 15px 30px;
        background-color: var(--accent-color);
    }

    button:disabled {
        cursor: default;
        background-color: var(--disabled);
    }
}

.flatpickr-day.selected,
.flatpickr-day.startRange.selected,
.flatpickr-day.startRange,
.flatpickr-day.endRange,
.flatpickr-day.startRange:hover,
.flatpickr-day.endRange:hover,
.flatpickr-day:hover:not(.selected) {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
}
